:root {
  --width:100vw;
  --height:90vh;
  font-size: 16px;
  user-select: none;
}
body {
  margin:0;
  background: #fff;
}
#canvas {
  z-index: -1;
  position: fixed;
  top:0; left: 0;
  opacity: 1;
}

#main {
  width:var(--width);
  height:var(--height);
  display: grid;
  grid-template-areas:
  "header"
  "body"
  "footer";
  margin: 0 auto;
}

#header {
  grid-area: header;
  font-size: 14vmin;
  display: flex;
  place-items: center;
  place-content: center;
}

#header > img {
  /* backdrop-filter: blur(5px);
  border-radius: 5px; */
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.548); */
  padding: 1vh 1vw;
}
#body {
  grid-area: body;
  display: grid;
  place-items: center;
}
#footer {
  grid-area: footer;
  height:5vh;
  display: grid;
  place-content: center;
}


#links {
  display: grid;
  grid-auto-flow: row;
  column-gap: 2vw;
  row-gap:2vh;
  font-size: 7vmin;
}
#links > a {
  display: grid;
  color:inherit;
  text-align: center;
  grid-auto-flow: row;
  place-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.548);
  text-decoration: none;
  padding: 1vh 1vw;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.0);
  backdrop-filter: blur(5px);
}


.feather {
  height:20vmin;
  width:20vmin;
}
#links > a > img {
  height:20vmin;
  width:20vmin;
}

@media (min-width: 600px){
  :root {
    --width:70vw;
    --height:90vh;
  }
  #links {
    grid-auto-flow: column;
    font-size: 5vmin;
  }
  .feather {
    height:10vmin;
    width:10vmin;
  }

  #links > a > img {
    height:10vmin;
    width:10vmin;
  }
}